.homePageContainer {
  padding: 0 4rem;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

.latestEpisodes {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    li {
      position: relative;
      display: flex;
      background-color: var(--white);
      border: 1px solid var(--gray-100);
      padding: 1.25rem;
      border-radius: 1.5rem;

      img {
        width: 6rem;
        height: 6rem;
        border-radius: 1rem;
      }
    }

    .episodeDetails {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 1rem;

      a {
        line-height: 1.4rem;
        display: block;
        font-weight: 600;
        text-decoration: none;
        color: var(--gray-800);

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        font-family: Inter, sans-serif;
        font-weight: 400;
        color: var(--gray-500);
        font-size: 0.875rem;
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        display: inline-block;
        margin-top: 0.5rem;
        font-size: 0.875rem;

        &:last-child {
          margin-left: 0.5rem;
          padding-left: 0.5rem;
          position: relative;

          &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: var(--gray-500);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .button {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
    }
  }
}

.allEpisodes {
  table {
    width: 100%;

    th {
      font: 500 0.75rem Lexend, sans-serif;
      color: var(--gray-200);
      text-transform: uppercase;
    }

    th,
    td {
      border-bottom: solid 1px var(--gray-100);
      text-align: left;
      padding: 0.75rem;
    }

    td {
      font: 400 0.875rem Inter, sans-serif;
      color: var(--gray-500);

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1rem;
      }

      a {
        margin-left: 1rem;
        line-height: 1.4rem;
        display: block;
        font-weight: 600;
        text-decoration: none;
        color: var(--gray-800);
        font: 600 1rem Lexend, sans-serif;
        line-height: 1.25rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
